body {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
}
#app {
  margin: 0;
  padding: 0;
  width: 100%;
}
#changeRead {
  position: absolute;
  right: 55px;
  top: 170px;
}
.MuiListItem-gutters {
  font-size: 14px;
  word-break: break-all;
}
.MuiListItem-gutters:hover {
  box-shadow: 0 1px 0 #fff, 5px 5px 10px rgba(230, 230, 230, 0.8);
  transform: scale(1.005);
  animation: 3s both;
}
.inputArea {
  width: 90%;
  margin: 20px auto;
  padding: 5px;
}
#urlInput {
  width: 80%;
}
input[type="url"]:focus,
input[type="button"]:focus,
.btn:focus {
  outline: 0;
}
input[type="url"]:focus {
  background: #ececec;
}
.logo {
  width: 35px;
  margin: 5px 10px 0 0;
}
.title {
  display: none;
}
.sbuxImg {
  width: 100%;
}
@media screen and (min-width: 759px) {
  .addBtn {
    top: 20px;
  }
  .changeRead {
    position: absolute;
    right: 25px;
    top: 190px;
  }
  .title {
    display: inline;
    vertical-align: 7px;
  }
  .sbuxImg {
    width: 60%;
  }
}
