body {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
}
#app {
  margin: 0;
  padding: 0;
  width: 100%;
}
#changeRead {
  position: absolute;
  right: 55px;
  top: 170px;
}
.MuiListItem-gutters {
  word-break: break-all;
}
.inputArea {
  width: 90%;
  margin: 20px auto;
  padding: 5px;
}
#urlInput {
  width: 80%;
}
input[type="url"]:focus,
input[type="button"]:focus,
.btn:focus {
  outline: 0;
}
input[type="url"]:focus {
  background: #ececec;
}

@media screen and (min-width: 759px) {
  .addBtn {
    top: 20px;
  }
  .changeRead {
    position: absolute;
    right: 25px;
    top: 190px;
  }
}
