body {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
}
#app {
  margin: 0;
  padding: 0;
  width: 100%;
}
.changeRead {
  float: right;
}
.inputArea {
  width: 90%;
  margin: 20px auto;
  padding: 5px;
}
#urlInput {
  width: 80%;
}
input[type="url"]:focus,
input[type="button"]:focus,
.btn:focus {
  outline: 0;
}
input[type="url"]:focus {
  background: #ececec;
}
